@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(./tektur-0.woff2) format('truetype');
}
@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(./tektur-1.woff2) format('truetype');
}
@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(./tektur-2.woff2) format('truetype');
}
@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(./tektur-3.woff2) format('truetype');
}
